body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#app {
  height: 100vh;
}

.app-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: auto;
  grid-template-areas: '... app ...';
  margin-top: 3rem;
}

.app-body {
  grid-area: app;
}

@media (min-width: 1024px) {
  .app-grid {
    grid-template-columns: 7rem 1fr 7rem;
  }
}

@media (min-width: 2560px) {
  .app-grid {
    grid-template-columns: 9rem 1fr 9rem;
  }
}

.completed {
  text-decoration: line-through;
}

.blocked {
  opacity: 0.3;
}

.disabled {
  pointer-events: none;
}
